.text {
    transition: color .3s ease-in-out;
    font-family: 'Lora';
}

.color-white {
    color: #ffffff;
}
.color-darkGreen {
    color: #039C80;
}
.color-black {
    color: #000000;
}
.color-lightGrey {
    color: #E4E8F4;
}

.color-darkGray {
    color: #232323;
}

.color-green {
    color: #21A876;
}

.fw-100 {
    font-weight: 100;
}
.fw-200 {
    font-weight: 200;
    font-family: 'Lato200';
}
.fw-300 {
    font-weight: 300;
    font-family: 'Lato300';
}
.fw-400 {
    font-weight: 400;
    font-family: 'Lato400';
}
.fw-500 {
    font-weight: 500;
    font-family: 'Lato500';
}
.fw-600 {
    font-weight: 600;
    font-family: 'Lato600';
}
.fw-700 {
    font-weight: 700;
    font-family: 'Lato700';
}
.fw-800 {
    font-weight: 800;
}

.f-golos {
    font-family: 'Golos';
}

.f-montserrat {
    font-family: 'Montserrat';
}

.s-1{font-size:1px;}
.s-2{font-size:2px;}
.s-3{font-size:3px;}
.s-4{font-size:4px;}
.s-5{font-size:5px;}
.s-6{font-size:6px;}
.s-7{font-size:7px;}
.s-8{font-size:8px;}
.s-9{font-size:9px;}
.s-10{font-size:10px;}
.s-11{font-size:11px;}
.s-12{font-size:12px;}
.s-13{font-size:13px;}
.s-14{font-size:14px;}
.s-15{font-size:15px;}
.s-16{font-size:16px;}
.s-17{font-size:17px;}
.s-18{font-size:18px;}
.s-19{font-size:19px;}
.s-20{font-size:20px;}
.s-21{font-size:21px;}
.s-22{font-size:22px;}
.s-23{font-size:23px;}
.s-24{font-size:24px;}
.s-25{font-size:25px;}
.s-26{font-size:26px;}
.s-27{font-size:27px;}
.s-28{font-size:28px;}
.s-29{font-size:29px;}
.s-30{font-size:30px;}
.s-31{font-size:31px;}
.s-32{font-size:32px;}
.s-33{font-size:33px;}
.s-34{font-size:34px;}
.s-35{font-size:35px;}
.s-36{font-size:36px;}
.s-37{font-size:37px;}
.s-38{font-size:38px;}
.s-39{font-size:39px;}
.s-40{font-size:40px;}
.s-41{font-size:41px;}
.s-42{font-size:42px;}
.s-43{font-size:43px;}
.s-44{font-size:44px;}
.s-45{font-size:45px;}
.s-46{font-size:46px;}
.s-47{font-size:47px;}
.s-48{font-size:48px;}
.s-49{font-size:49px;}
.s-50{font-size:50px;}
.s-51{font-size:51px;}
.s-52{font-size:52px;}
.s-53{font-size:53px;}
.s-54{font-size:54px;}
.s-55{font-size:55px;}
.s-56{font-size:56px;}
.s-57{font-size:57px;}
.s-58{font-size:58px;}
.s-59{font-size:59px;}
.s-60{font-size:60px;}
.s-61{font-size:61px;}
.s-62{font-size:62px;}
.s-63{font-size:63px;}
.s-64{font-size:64px;}
.s-65{font-size:65px;}
.s-66{font-size:66px;}
.s-67{font-size:67px;}
.s-68{font-size:68px;}
.s-69{font-size:69px;}
.s-70{font-size:70px;}
.s-71{font-size:71px;}
.s-72{font-size:72px;}
.s-73{font-size:73px;}
.s-74{font-size:74px;}
.s-75{font-size:75px;}
.s-76{font-size:76px;}
.s-77{font-size:77px;}
.s-78{font-size:78px;}
.s-79{font-size:79px;}
.s-80{font-size:80px;}
.s-81{font-size:81px;}
.s-82{font-size:82px;}
.s-83{font-size:83px;}
.s-84{font-size:84px;}
.s-85{font-size:85px;}
.s-86{font-size:86px;}
.s-87{font-size:87px;}
.s-88{font-size:88px;}
.s-89{font-size:89px;}
.s-90{font-size:90px;}
.s-91{font-size:91px;}
.s-92{font-size:92px;}
.s-93{font-size:93px;}
.s-94{font-size:94px;}
.s-95{font-size:95px;}
.s-96{font-size:96px;}
.s-97{font-size:97px;}
.s-98{font-size:98px;}
.s-99{font-size:99px;}
.s-100{font-size:100px;}
.s-101{font-size:101px;}
.s-102{font-size:102px;}
.s-103{font-size:103px;}
.s-104{font-size:104px;}
.s-105{font-size:105px;}
.s-106{font-size:106px;}
.s-107{font-size:107px;}
.s-108{font-size:108px;}
.s-109{font-size:109px;}
.s-110{font-size:110px;}
.s-111{font-size:111px;}
.s-112{font-size:112px;}
.s-113{font-size:113px;}
.s-114{font-size:114px;}
.s-115{font-size:115px;}
.s-116{font-size:116px;}
.s-117{font-size:117px;}
.s-118{font-size:118px;}
.s-119{font-size:119px;}
.s-120{font-size:120px;}
.s-121{font-size:121px;}
.s-122{font-size:122px;}
.s-123{font-size:123px;}
.s-124{font-size:124px;}
.s-125{font-size:125px;}
.s-126{font-size:126px;}
.s-127{font-size:127px;}
.s-128{font-size:128px;}
.s-129{font-size:129px;}
.s-130{font-size:130px;}
.s-131{font-size:131px;}
.s-132{font-size:132px;}
.s-133{font-size:133px;}
.s-134{font-size:134px;}
.s-135{font-size:135px;}
.s-136{font-size:136px;}
.s-137{font-size:137px;}
.s-138{font-size:138px;}
.s-139{font-size:139px;}
.s-140{font-size:140px;}
.s-141{font-size:141px;}
.s-142{font-size:142px;}
.s-143{font-size:143px;}
.s-144{font-size:144px;}
.s-145{font-size:145px;}
.s-146{font-size:146px;}
.s-147{font-size:147px;}
.s-148{font-size:148px;}
.s-149{font-size:149px;}
.s-150{font-size:150px;}
.s-151{font-size:151px;}
.s-152{font-size:152px;}
.s-153{font-size:153px;}
.s-154{font-size:154px;}
.s-155{font-size:155px;}
.s-156{font-size:156px;}
.s-157{font-size:157px;}
.s-158{font-size:158px;}
.s-159{font-size:159px;}
.s-160{font-size:160px;}
.s-161{font-size:161px;}
.s-162{font-size:162px;}
.s-163{font-size:163px;}
.s-164{font-size:164px;}
.s-165{font-size:165px;}
.s-166{font-size:166px;}
.s-167{font-size:167px;}
.s-168{font-size:168px;}
.s-169{font-size:169px;}
.s-170{font-size:170px;}
.s-171{font-size:171px;}
.s-172{font-size:172px;}
.s-173{font-size:173px;}
.s-174{font-size:174px;}
.s-175{font-size:175px;}
.s-176{font-size:176px;}
.s-177{font-size:177px;}
.s-178{font-size:178px;}
.s-179{font-size:179px;}
.s-180{font-size:180px;}
.s-181{font-size:181px;}
.s-182{font-size:182px;}
.s-183{font-size:183px;}
.s-184{font-size:184px;}
.s-185{font-size:185px;}
.s-186{font-size:186px;}
.s-187{font-size:187px;}
.s-188{font-size:188px;}
.s-189{font-size:189px;}
.s-190{font-size:190px;}
.s-191{font-size:191px;}
.s-192{font-size:192px;}
.s-193{font-size:193px;}
.s-194{font-size:194px;}
.s-195{font-size:195px;}
.s-196{font-size:196px;}
.s-197{font-size:197px;}
.s-198{font-size:198px;}
.s-199{font-size:199px;}
.s-200{font-size:200px;}
.s-201{font-size:201px;}
.s-202{font-size:202px;}
.s-203{font-size:203px;}
.s-204{font-size:204px;}
.s-205{font-size:205px;}
.s-206{font-size:206px;}
.s-207{font-size:207px;}
.s-208{font-size:208px;}
.s-209{font-size:209px;}
.s-210{font-size:210px;}
.s-211{font-size:211px;}
.s-212{font-size:212px;}
.s-213{font-size:213px;}
.s-214{font-size:214px;}
.s-215{font-size:215px;}
.s-216{font-size:216px;}
.s-217{font-size:217px;}
.s-218{font-size:218px;}
.s-219{font-size:219px;}
.s-220{font-size:220px;}
.s-221{font-size:221px;}
.s-222{font-size:222px;}
.s-223{font-size:223px;}
.s-224{font-size:224px;}
.s-225{font-size:225px;}
.s-226{font-size:226px;}
.s-227{font-size:227px;}
.s-228{font-size:228px;}
.s-229{font-size:229px;}
.s-230{font-size:230px;}
.s-231{font-size:231px;}
.s-232{font-size:232px;}
.s-233{font-size:233px;}
.s-234{font-size:234px;}
.s-235{font-size:235px;}
.s-236{font-size:236px;}
.s-237{font-size:237px;}
.s-238{font-size:238px;}
.s-239{font-size:239px;}
.s-240{font-size:240px;}
.s-241{font-size:241px;}
.s-242{font-size:242px;}
.s-243{font-size:243px;}
.s-244{font-size:244px;}
.s-245{font-size:245px;}
.s-246{font-size:246px;}
.s-247{font-size:247px;}
.s-248{font-size:248px;}
.s-249{font-size:249px;}
.s-250{font-size:250px;}
.s-251{font-size:251px;}
.s-252{font-size:252px;}
.s-253{font-size:253px;}
.s-254{font-size:254px;}
.s-255{font-size:255px;}
.s-256{font-size:256px;}
.s-257{font-size:257px;}
.s-258{font-size:258px;}
.s-259{font-size:259px;}
.s-260{font-size:260px;}
.s-261{font-size:261px;}
.s-262{font-size:262px;}
.s-263{font-size:263px;}
.s-264{font-size:264px;}
.s-265{font-size:265px;}
.s-266{font-size:266px;}
.s-267{font-size:267px;}
.s-268{font-size:268px;}
.s-269{font-size:269px;}
.s-270{font-size:270px;}
.s-271{font-size:271px;}
.s-272{font-size:272px;}
.s-273{font-size:273px;}
.s-274{font-size:274px;}
.s-275{font-size:275px;}
.s-276{font-size:276px;}
.s-277{font-size:277px;}
.s-278{font-size:278px;}
.s-279{font-size:279px;}
.s-280{font-size:280px;}
.s-281{font-size:281px;}
.s-282{font-size:282px;}
.s-283{font-size:283px;}
.s-284{font-size:284px;}
.s-285{font-size:285px;}
.s-286{font-size:286px;}
.s-287{font-size:287px;}
.s-288{font-size:288px;}
.s-289{font-size:289px;}
.s-290{font-size:290px;}
.s-291{font-size:291px;}
.s-292{font-size:292px;}
.s-293{font-size:293px;}
.s-294{font-size:294px;}
.s-295{font-size:295px;}
.s-296{font-size:296px;}
.s-297{font-size:297px;}
.s-298{font-size:298px;}
.s-299{font-size:299px;}
.s-300{font-size:300px;}
.color-aqua {color:aqua;}
.color-aliceblue {color:aliceblue;}
.color-antiquewhite {color:antiquewhite;}
.color-aqua {color:aqua;}
.color-aquamarine {color:aquamarine;}
.color-azure {color:azure;}
.color-beige {color:beige;}
.color-bisque {color:bisque;}
.color-black {color:black;}
.color-blanchedalmond {color:blanchedalmond;}
.color-blue {color:blue;}
.color-blueviolet {color:blueviolet;}
.color-brown {color:brown;}
.color-burlywood {color:burlywood;}
.color-cadetblue {color:cadetblue;}
.color-chartreuse {color:chartreuse;}
.color-chocolate {color:chocolate;}
.color-coral {color:coral;}
.color-cornflowerblue {color:cornflowerblue;}
.color-cornsilk {color:cornsilk;}
.color-crimson {color:crimson;}
.color-cyan {color:cyan;}
.color-darkblue {color:darkblue;}
.color-darkcyan {color:darkcyan;}
.color-darkgoldenrod {color:darkgoldenrod;}
.color-darkgray {color:darkgray;}
.color-darkgreen {color:darkgreen;}
.color-darkgrey {color:darkgrey;}
.color-darkkhaki {color:darkkhaki;}
.color-darkmagenta {color:darkmagenta;}
.color-darkolivegreen {color:darkolivegreen;}
.color-darkorange {color:darkorange;}
.color-darkorchid {color:darkorchid;}
.color-darkred {color:darkred;}
.color-darksalmon {color:darksalmon;}
.color-darkseagreen {color:darkseagreen;}
.color-darkslateblue {color:darkslateblue;}
.color-darkslategray {color:darkslategray;}
.color-darkslategrey {color:darkslategrey;}
.color-darkturquoise {color:darkturquoise;}
.color-darkviolet {color:darkviolet;}
.color-deeppink {color:deeppink;}
.color-deepskyblue {color:deepskyblue;}
.color-dimgray {color:dimgray;}
.color-dimgrey {color:dimgrey;}
.color-dodgerblue {color:dodgerblue;}
.color-firebrick {color:firebrick;}
.color-floralwhite {color:floralwhite;}
.color-forestgreen {color:forestgreen;}
.color-fuchsia {color:fuchsia;}
.color-gainsboro {color:gainsboro;}
.color-ghostwhite {color:ghostwhite;}
.color-gold {color:gold;}
.color-goldenrod {color:goldenrod;}
.color-gray {color:gray;}
.color-green {color:green;}
.color-greenyellow {color:greenyellow;}
.color-grey {color:grey;}
.color-honeydew {color:honeydew;}
.color-hotpink {color:hotpink;}
.color-indianred {color:indianred;}
.color-indigo {color:indigo;}
.color-ivory {color:ivory;}
.color-khaki {color:khaki;}
.color-lavender {color:lavender;}
.color-lavenderblush {color:lavenderblush;}
.color-lawngreen {color:lawngreen;}
.color-lemonchiffon {color:lemonchiffon;}
.color-lightblue {color:lightblue;}
.color-lightcoral {color:lightcoral;}
.color-lightcyan {color:lightcyan;}
.color-lightgoldenrodyellow {color:lightgoldenrodyellow;}
.color-lightgray {color:lightgray;}
.color-lightgreen {color:lightgreen;}
.color-lightgrey {color:lightgrey;}
.color-lightpink {color:lightpink;}
.color-lightsalmon {color:lightsalmon;}
.color-lightseagreen {color:lightseagreen;}
.color-lightskyblue {color:lightskyblue;}
.color-lightslategray {color:lightslategray;}
.color-lightslategrey {color:lightslategrey;}
.color-lightsteelblue {color:lightsteelblue;}
.color-lightyellow {color:lightyellow;}
.color-lime {color:lime;}
.color-limegreen {color:limegreen;}
.color-linen {color:linen;}
.color-magenta {color:magenta;}
.color-maroon {color:maroon;}
.color-mediumaquamarine {color:mediumaquamarine;}
.color-mediumblue {color:mediumblue;}
.color-mediumorchid {color:mediumorchid;}
.color-mediumpurple {color:mediumpurple;}
.color-mediumseagreen {color:mediumseagreen;}
.color-mediumslateblue {color:mediumslateblue;}
.color-mediumspringgreen {color:mediumspringgreen;}
.color-mediumturquoise {color:mediumturquoise;}
.color-mediumvioletred {color:mediumvioletred;}
.color-midnightblue {color:midnightblue;}
.color-mintcream {color:mintcream;}
.color-mistyrose {color:mistyrose;}
.color-moccasin {color:moccasin;}
.color-navajowhite {color:navajowhite;}
.color-navy {color:navy;}
.color-oldlace {color:oldlace;}
.color-olive {color:olive;}
.color-olivedrab {color:olivedrab;}
.color-orange {color:orange;}
.color-orangered {color:orangered;}
.color-orchid {color:orchid;}
.color-palegoldenrod {color:palegoldenrod;}
.color-palegreen {color:palegreen;}
.color-paleturquoise {color:paleturquoise;}
.color-palevioletred {color:palevioletred;}
.color-papayawhip {color:papayawhip;}
.color-peachpuff {color:peachpuff;}
.color-peru {color:peru;}
.color-pink {color:pink;}
.color-plum {color:plum;}
.color-powderblue {color:powderblue;}
.color-purple {color:purple;}
.color-rebeccapurple {color:rebeccapurple;}
.color-red {color:red;}
.color-rosybrown {color:rosybrown;}
.color-royalblue {color:royalblue;}
.color-saddlebrown {color:saddlebrown;}
.color-salmon {color:salmon;}
.color-sandybrown {color:sandybrown;}
.color-seagreen {color:seagreen;}
.color-seashell {color:seashell;}
.color-sienna {color:sienna;}
.color-silver {color:silver;}
.color-skyblue {color:skyblue;}
.color-slateblue {color:slateblue;}
.color-slategray {color:slategray;}
.color-slategrey {color:slategrey;}
.color-snow {color:snow;}
.color-springgreen {color:springgreen;}
.color-steelblue {color:steelblue;}
.color-tan {color:tan;}
.color-teal {color:teal;}
.color-thistle {color:thistle;}
.color-tomato {color:tomato;}
.color-transparent {color:transparent;}
.color-turquoise {color:turquoise;}
.color-violet {color:violet;}
.color-wheat {color:wheat;}
.color-white {color:white;}
.color-whitesmoke {color:whitesmoke;}
.color-yellow {color:yellow;}
.color-yellowgreen {color:yellowgreen;}
