.hero {
  position: relative;
  padding: 90px 0 0;
  background-color: #efeade;
}

.hero::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  content: "";
  z-index: 0;
  background: url("../../assets/hero__bg.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.2;
}

.hero__content {
  padding: 120px 0 116px;
  z-index: 2;
  position: relative;
  display: flex;
  max-width: 1410px;
  margin: auto;
}

.hero__title {
  max-width: 700px;
  margin: 0;
  font-style: normal;
  line-height: 102px;
  color: #000000;
  margin-bottom: 50px;
}

.hero .hero__descr {
  font-size: 28px;
  max-width: 550px;
  margin: 0;
  margin-bottom: 80px;
  line-height: 36px;
  margin-bottom: 140px;
}

.hero__link {
  padding: 33px 65px 27px;
  background-color: #343434;
}

.hero__swiper {
  max-width: 850px;
  position: absolute !important;
  right: -130px;
  top: 20px;
  bottom: 0;
  /* max-height: 680px; */
  margin-bottom: 80px;
}

.hero__slide {
  max-width: 50px;
}

.hero__swiper .swiper-slide {
  transition: 0.85s ease-in-out;
  display: flex;
}

.hero__swiper .swiper-slide-next {
  transform: scale(1.43) translateZ(0) translateX(5px) !important;
}

.hero__swiper::before {
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.hero__slide-content {
  background-size: cover;
  margin: auto 0;
  width: 231px;
  height: 300px;
  background-repeat: no-repeat;
  text-align: center;
  align-items: end;
  justify-content: end;
  background-position: center;
  transition: 0.85s ease-in-out;
  display: flex;
}

.hero__swiper .swiper-slide-next {
  cursor: pointer;
}

.hero__slide-text {
  width: calc(100% - 10px);
  margin: 0;
  padding: 5px;
  position: relative;
  z-index: 5;
  display: block;
}

.hero__slide-text::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  content: "";
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.65);
}

.hero__swiper .swiper-slide:not(.swiper-slide-next) {
  transform: scale(0.85) translateZ(0) !important;
  opacity: 0.55;
}

.hero__swiper .swiper-button-prev,
.hero__swiper .swiper-button-next {
  position: relative;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.hero__slide-navigation {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  gap: 88px;
  transform: translateX(-5px);
  z-index: 9;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.hero__swiper .swiper-slide {
  justify-content: center;
}

@media (max-width: 1700px) {
  .hero .hero__title {
    font-size: 48px;
    max-width: 550px;
    margin-bottom: 20px;
    line-height: 61px;
  }

  .hero .hero__descr {
    font-size: 22px;
    max-width: 450px;
    margin: 0;
    margin-bottom: 80px;
    line-height: 36px;
  }

  .hero .hero__swiper {
    max-width: 650px;
    right: 0;
    padding-bottom: 30px;
  }

  .hero__slide-content {
    height: 250px;
    width: 200px;
  }

  .hero .hero__link {
    padding: 20px 35px;
  }

  .hero__content {
    padding: 120px 0 116px 25px;
  }

  .hero__link span {
    font-size: 24px;
    vertical-align: sub;

  }

  .hero .hero__swiper {
    max-width: 800px;
    right: 0;
    padding-bottom: 60px;
  }

  .hero__slide-content p {
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  .hero__content .swiper {
    position: relative !important;
  }

  .hero__title {
    text-align: center;
    max-width: none !important;
  }

  .hero .hero__content {
    display: flex;
    flex-direction: column;
  }

  .hero__info-mob {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .hero .hero__info {
    text-align: center;
  }

  .hero .hero__descr {
    margin: 0 auto 20px;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
  }

  .hero .hero__swiper {
    padding: 70px 0;
  }

  .hero .hero__slide-text {
    font-size: 14px;
  }

  .gallary .gallary__pagination {
    display: none;
  }

  .gallary__nav-link {
    display: none;
  }

  .gallary__swiper {
    padding: 120px;
  }

  .hero__content {
    padding: 60px 0 46px 0px;
  }
}

@media (max-width: 1000px) {

  .hero__swiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero__swiper .swiper-slide.swiper-slide-active {
    transform: scale(1.2) translateZ(0) !important;
    opacity: 1;
  }

  .hero__swiper .swiper-slide.swiper-slide-next {
    transform: scale(1) translateZ(0) !important;
    opacity: 0.55;
  }

  .hero__swiper {
    margin-bottom: 50px;
    width: 100%;
    max-width: unset;
  }
}

@media (max-width: 700px) {

  .hero .hero__content {
    padding: 20px 0 50px;
  }

  .hero .hero__title {
    font-size: 32px;
    line-height: 40px;
  }

  .hero .hero__descr {
    font-size: 16px;
    line-height: 30px;
  }

  .hero__link span {
    font-size: 16px;
  }

  .hero__link {

    padding: 20px 30px;
  }
}