.footer {
    background-color: #52575D;
    padding: 60px 0;
}

.footer__icons {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.footer__list-links {
    list-style: none;
    display: flex;
    gap: 45px;
    padding: 0;
    margin: 0;

}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;

}

.footer .container {
    justify-content: space-between;
    align-items: start;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
}

.footer__contacts a {
    color: #fff;
}

.footer__contacts h3 {
    margin: 0;
    margin-bottom: 20px;
}

@media (max-width: 1700px) {
    .footer__icons>svg {
        height: 80px;
        width: initial;
    }

    .footer__links span {
        font-size: 24px;
    }

    .footer__links {
        gap: 25px;
    }
}

@media (max-width: 1000px) {
    .footer .container {
        flex-wrap: wrap;
    }

    .footer__icons>svg {
        height: 80px;
        width: initial;
    }
}

@media (max-width: 700px) {
    .footer .container {
        flex-direction: column;
        gap: 40px;
    }

    .footer svg {
        height: 50px;
    }
}