.histories {
  background-color: #696d72;
  padding: 120px 0;
}

.histories__active-img-mob {
  display: none;
}

.histories__swiper {
  width: calc(55% - 20px);
  margin: 0 0 0 auto;
  position: static;
  padding: 20px 0 20px 20px;
}

.histories__nav-img {
  width: 100%;
  width: -moz-available;
  height: 100%;
  object-fit: cover;
}

.histories__title {
  margin: 0;
  margin-bottom: 60px;
}

.histories__swiper .swiper-slide {
  transition: outline 0.3s ease-in-out;
  outline: 3px solid transparent;
}

.histories__swiper .history__slide-active {
  outline-color: #fff;
}

@media (max-width: 1700px) {
  .histories__active-img {
    max-width: 350px;
  }

  .histories__active {
    display: flex;
    height: unset;
    gap: 5%;
    opacity: unset;
  }

  .histories__active-info {
    max-width: calc(100% - 430px);
  }

  .histories__active-info>span:nth-child(1) {
    font-size: 48px;
  }

  .histories__active-info>span:nth-child(2) {
    font-size: 32px;
  }

  .histories__descr {
    font-size: 19px;
    line-height: 28px;
    -webkit-line-clamp: 4;
  }

  .histories__title {
    font-size: 64px;
  }

  .histories .histories__nav button {
    width: 50px;
    height: 50px;
  }

  .histories .histories__nav {
    left: 205px;
    gap: 100px;
  }

  .histories__link span {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .histories .swiper-wrapper {
    display: none;
  }

  .histories .histories__nav {
    bottom: -70px;
  }
}

@media (max-width: 1000px) {

  .histories__active-info {
    max-width: 100%;
    gap: 25px;
  }

  .histories .histories__nav {
    bottom: 50px;
  }

  .histories__active-info>span:nth-child(1) {
    font-size: 42px;
  }

  .histories__swiper {
    width: calc(100vw - 200px);
    /* margin: 0 0 620px auto; */
    position: absolute;
    padding: 140px 0 0;
  }

  .histories .histories__nav {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .histories__link span {
    font-size: 24px;
  }

  .histories__descr {

    font-size: 20px;
    line-height: 32px;
  }

  .histories .histories__active {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: unset;
  }
}

@media (max-width: 700px) {
  .histories {
    padding: 60px 0;
  }

  .histories__active-img {
    display: none;
  }

  .histories__active-img.histories__active-img-mob {
    margin: 0 auto;
    display: block;
  }

  .histories__active-info {
    text-align: center;
  }

  .histories__title {
    font-size: 40px;
    text-align: center;
  }

  .histories__active-img {
    max-width: 300px;
  }

  .histories__active-info>span:nth-child(1) {
    font-size: 24px;
    text-align: center;
  }

  .histories__active-info>span:nth-child(3) {
    font-size: 24px;
    text-align: center;
  }

  .histories .histories__active-img img {
    max-width: 200px;
  }

  .histories__descr {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
  }

  .histories .histories__nav button {
    width: 40px;
  }

  .histories .histories__nav {
    gap: 80px;
  }

  .histories .histories__swiper {
    padding: 120px 0 0;
    margin-top: -30px;
    width: calc(100vw - 60px);
  }

  .hero .hero__swiper {
    padding: 20px 0 70px;
  }
}