.gallary {
  padding: 120px 0;
}
.gallary__title {
  margin: 0;
  margin-bottom: 60px;
}

.gallary__slide-content {
  display: flex;
  gap: 19px;
}

.gallary__slide-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 1700px) {

    .gallary .gallary__photo {
      width: 100%;
    }

    .histories .histories__active-img img {
      max-width: 500px;
    }

    .gallary__slide-content {
      justify-content: space-around;
    }
}

@media (max-width: 1200px) {
  .gallary__slide-photos {
    display: none;
  }
  .gallary__photo-big {
    margin: auto;
  }
  .gallary__title {
    text-align: center;
  }
  .gallary__slide-content {
    position: relative;
  }
  .gallary .gallary__nav {
    width: 100%;
    display: flex;
    gap: 180px;
  }
}

@media (max-width: 1000px) {
  .gallary .gallary__photo {
    filter: grayscale(0) !important;
  }
  .gallary__nav {
    width: 100%;
    gap: 60px;
  }
}

@media (max-width: 700px) {
    .gallary .gallary__title {
      font-size: 42px;
    }

    .gallary .gallary__nav {
      gap: 80px;
    }

    .gallary .gallary__nav button {
      width: 30px;
      height: 30px;
    }

    .gallary .gallary__pagination {
      display: none;
    }

    span.gallary__nav-link {
      font-size: 24px;
      margin-top: 20px;
    }
    
    
}

.gallary__photo-big {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
}

.gallary__photo,
.gallary__photo-big {
  filter: grayscale(1);
  overflow: hidden;
  position: relative;
  transition: filter 0.6s ease-in-out;
  cursor: pointer;
}

.gallary__photo {
  width: calc(50% - 15px);
  max-width: 335px;
}

.gallary__photo img,
.gallary__photo-big img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallary__photo-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s ease-in-out;
  opacity: 0;
  cursor: pointer;
}

.gallary__photo:hover .gallary__photo-title,
.gallary__photo-big:hover .gallary__photo-title {
  opacity: 1;
}

.gallary__photo:hover,
.gallary__photo-big:hover {
  filter: grayscale(0);
}

.gallary__nav {
  display: flex;
  gap: 60px;
  justify-content: center;
}

.gallary__nav .swiper-button-prev,
.gallary__nav .swiper-button-next {
  position: relative;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  width: 65px;
  height: 65px;

}

.gallary__nav .swiper-button-prev rect,
.gallary__nav .swiper-button-next rect {
  transition: fill .3s ease-in-out;
}


.gallary__nav .swiper-button-prev:hover rect,
.gallary__nav .swiper-button-next:hover rect {
  fill: #858585;
}

.gallary__nav .swiper-button-prev:disabled rect,
.gallary__nav .swiper-button-next:disabled rect {
  fill: #a4a2a2;
}

.gallary__nav .swiper-button-next:disabled, .gallary__nav .swiper-button-prev:disabled {
  cursor: default;
}
