.gallary {
  padding: 120px 0;
}

.gallary__title {
  margin: 0;
  margin-bottom: 60px;
}

.gallary__nav-link-mob {
  display: none;
  text-decoration: underline;
}

.gallary__slide-content {
  display: flex;
  gap: 19px;
}

.gallary__slide-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallary__nav {
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  width: 100%;
  gap: 60px;
}

@media (max-width: 1700px) {

  .gallary .gallary__photo {
    width: 100%;
  }

  .histories .histories__active-img img {
    max-width: 500px;
  }

  .gallary__slide-content {
    justify-content: space-around;
  }
}

@media (max-width: 1200px) {
  .gallary__slide-photos {
    display: none;
  }

  .gallary__photo-big {
    margin: auto;
  }

  .gallary__title {
    text-align: center;
  }

  .gallary__slide-content {
    position: relative;
  }

  .gallary .gallary__nav {
    position: relative;
    width: 100%;
    gap: 180px;
  }

  .gallary__nav-link-mob {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .gallary .gallary__photo {
    filter: grayscale(0) !important;
  }

  .gallary__nav {
    top: unset;
    left: unset;
    position: relative;
    transform: translate(0);
    width: 100%;
    gap: 60px;
  }
}

@media (max-width: 700px) {
  .gallary .gallary__title {
    font-size: 42px;
  }

  .gallary .gallary__nav {
    gap: 80px;
  }

  .gallary__nav-link-mob {
    font-size: 20px;
  }

  .gallary .gallary__controls {
    margin: 20px 0;
  }

  .gallary {
    padding: 70px 0;
  }

  .gallary .gallary__nav button {
    width: 30px;
    height: 30px;
  }

  .gallary .gallary__pagination {
    display: none;
  }

  span.gallary__nav-link {
    font-size: 24px;
    margin-top: 20px;
  }


}

.gallary__photo-big {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
}

.gallary__photo,
.gallary__photo-big {
  filter: grayscale(1);
  overflow: hidden;
  position: relative;
  transition: filter 0.6s ease-in-out;
  cursor: pointer;
}

.gallary__photo {
  width: calc(50% - 15px);
  max-width: 335px;
}

.gallary__photo img,
.gallary__photo-big img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallary__photo-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s ease-in-out;
  opacity: 0;
  cursor: pointer;
}

.gallary__photo:hover .gallary__photo-title,
.gallary__photo-big:hover .gallary__photo-title {
  opacity: 1;
}

.gallary__photo:hover,
.gallary__photo-big:hover {
  filter: grayscale(0);
}

.gallary__nav {
  display: flex;
  gap: 60px;
  width: auto;
  justify-content: center;
}

.gallary__nav .gal-swiper-button-prev,
.gallary__nav .gal-swiper-button-next {
  position: relative;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  width: 65px;
  height: 65px;
}

.gallary__nav .gal-swiper-button-prev svg,
.gallary__nav .gal-swiper-button-next svg {
  width: 100%;
  height: 100%;
  outline: 3px solid transparent;
  outline-offset: -3px;
  transition: outline-color .3s ease-in-out;

}

.gallary__nav .gal-swiper-button-prev rect,
.gallary__nav .gal-swiper-button-next rect,
.gallary__nav .gal-swiper-button-prev path,
.gallary__nav .gal-swiper-button-next path {
  transition: fill .3s ease-in-out;
}

.gallary__nav .gal-swiper-button-prev:focus-visible:not(:active) svg,
.gallary__nav .gal-swiper-button-next:focus-visible:not(:active) svg {
  outline-color: rgb(192, 192, 192);
}


.gallary__nav .gal-swiper-button-prev:disabled rect,
.gallary__nav .gal-swiper-button-next:disabled rect {
  fill: #c4c4c4;
}

.gallary__nav .gal-swiper-button-prev:disabled path,
.gallary__nav .gal-swiper-button-next:disabled path {
  fill: #fff;
}

.gallary__nav .gal-swiper-button-next:disabled,
.gallary__nav .gal-swiper-button-prev:disabled {
  cursor: default;
}