.historiesCard {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    flex-basis: 32%;
    height: auto;
}

.historiesCard__info-city {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
width: 120px;
}

.historiesCard__img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1.2;
}

.historiesCard__info {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.historiesCard__info-text {
    margin: 0;
    margin-bottom: 20px;
}

.historiesCard__info-more {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.historiesPage__all .historiesCard {
    margin-bottom: 40px;
}

.historiesCard a {
    text-decoration: underline;
    text-decoration-color: #000;
}