.adminUnreaded__active {
    width: 100%;
    max-width: -fit-content-available;
    min-width: 400px;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 30px;
}

.nomedals__admin {
    margin: 50px 0;
}

.adminUnreaded__active-img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.adminUnreaded__top {
    display: flex;
    gap: 30px;
}

.adminUnreaded__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.adminUnreaded__medals {
    display: flex;
    padding: 0;
    overflow-x: auto;
    height: fit-content;
}

.adminUnreaded__medals-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 20%;
    width: 100%;
    gap: 10px;
    position: relative;
}

.adminUnreaded__medals-item img {
    width: 60px;
}

.adminUnreaded__descr {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    line-height: 32px;

    color: #000000;


}

.adminUnreaded__descr-title {
    line-height: 48px;
    margin-bottom: 15px;
}

.adminUnreaded__photos-con {
    display: flex;
    overflow-x: scroll;
    gap: 30px;
}

.adminUnreaded__photos-con img {
    width: 250px;
    height: 250px;
    object-fit: cover;

}

.adminUnreaded__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adminUnreaded__controls {
    display: flex;
    gap: 50px;
}

.adminUnreaded__isHero {
    margin-bottom: 40px;
}

.adminUnreaded__controls-btn {
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px 30px;
}

.adminUnreaded__controls-disapprove {
    background-color: rgb(237, 57, 57);
}
.adminUnreaded__controls-approve {
    background-color: rgb(38, 222, 38);
}

.adminUnreaded__controls-change {
    background-color: #808080;
}

.textarea {
    width: 100%;
    height: 300px;
    font-size: 20px;
    line-height: 30px;
    resize: none;

}

.adminUnreaded__photos-con div {
    position: relative;
}

.adminUnreaded__photos-con button, .adminUnreaded__mainPhoto button, .adminUnreaded__medals-item button {
    position: absolute;
    border: 0;
    background-color: #fff;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.adminUnreaded__controls-cancel {
    border: 3px solid #808080;
    color: #333;
    background-color: transparent;
}

.adminUnreaded__mainPhoto {
    position: relative;
}

.adminUnreaded__medals-loading {
    backdrop-filter: blur(5px);
}