.historiesPage {
    background-color: #EFEADE;
    padding: 175px 0;
}

.historiesPage .container {
    padding: 0 130px;
}

.historiesPage__all-nomore {
    font-style: italic;
}

.historiesPage__all>h3 {
    text-align: start;
}


.historiesPage__new .swiper-slide {

    height: fit-content;

}



.historiesPage__new-swiper {
    padding-bottom: 65px;
}

.historiesPage__new .gallary__controls {
    margin: 0;
}

.historiesPage__new-title {
    display: flex;
    gap: 50px;
}

.historiesPage__new-count {
    position: relative;
    padding: 4px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
}

.historiesPage__new-count span {
    z-index: 3;
}

.historiesPage__new-count:after {
    content: "";
    width: 65px;
    height: 65px;
    position: absolute;
    background-color: #52575D;
    /* border: 1px solid #C4C4C4; */
    border-radius: 50%;
    z-index: 1;
}

.historiesPage__new-wrapper {
    display: flex;
    justify-content: space-between;
}

.historiesPage__new-swiper {
    width: 100%;
    padding-bottom: 160px;
}

.historiesPage .swiper-slide {
    display: flex;
    justify-content: space-between;
    
}

.historiesPage__all {
    text-align: center;
}

.historiesPage__all-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.historiesPage__all-more {
    border: none;
    padding: 20px 50px;
    margin: 0 auto;
    background-color: #52575D;
    cursor: pointer;
}

.historiesPage__all-more:disabled {
    display: none;
}

.historiesPage__new-swiper .swiper-slide {
    justify-content: space-around;
}

@media (max-width: 1700px) {

    .historiesCard__info {
        padding: 10px;
    }

    .historiesCard {
        flex-basis: 25.6%;
    }

    .historiesCard__info-text {
        font-size: 20px;
    }
}

@media (max-width: 1400px) {

    .historiesCard__info-text {
        font-size: 16px;
    }

    .historiesCard__info-more span {
        font-size: 12px;
    }
}

@media (max-width: 1200px) {
    .historiesCard {
        flex-basis: 40%;
    }
}

@media (max-width: 1000px) {

    .historiesPage h2 {
        font-size: 60px;
    }

    .historiesPage__new-title {
        gap: 20px;
        margin-bottom: 20px;
    }

    .historiesPage__new-title span,
    .historiesPage__all>h3 {
        font-size: 35px;
    }

    .historiesPage__new-count span {
        font-size: 24px;
    }

    .historiesPage__new-count:after {
        width: 40px;
        height: 40px;
    }

    .historiesPage .container {
        padding: 0 100px;
    }
}

@media (max-width: 850px) {
    .historiesPage .historiesCard {
        flex-basis: 47%;
    }

    .historiesPage__new-swiper {
        padding: 0 0 50px;
    }

    .historiesPage__new-swiper .gallary__pagination {
        display: none;
    }

    .historiesCard__info-more {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


}

@media (max-width: 700px) {
    .historiesPage .container {
        padding: 0 55px;
    }

    .historiesPage {
        padding: 80px 0;
    }

    .histories__link {
        text-align: center;
    }

    .histories__link span {
        font-size: 16px;
    }

    .histories__swiper {
        width: calc(100vw - 110px);
    }

    .historiesPage h2 {
        font-size: 42px;
    }

    .historiesPage__all>h3 {
        font-size: 32px;
    }
}

@media (max-width: 520px) {
    .historiesPage .historiesCard {
        flex-basis: 90%;
    }

}