.historiesPage {
    background-color: #EFEADE;
    padding: 175px 0;
}


.historiesPage__new .swiper-slide {

    height: fit-content;

}

.historiesPage__new-swiper {
    padding-bottom: 65px;
}

.historiesPage__new .gallary__controls {
    margin: 0;
}

.historiesPage__new-title {
    display: flex;
    gap: 50px;
}

.historiesPage__new-count {
    position: relative;
    padding: 4px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
}

.historiesPage__new-count span {
    z-index: 3;
}

.historiesPage__new-count:after {
    content: "";
    width: 65px;
    height: 65px;
    position: absolute;
    background-color: #52575D;
    /* border: 1px solid #C4C4C4; */
    border-radius: 50%;
    z-index: 1;
}

.historiesPage__new-wrapper {
    display: flex;
    justify-content: space-between;
}

.historiesPage__new-swiper {
    width: 100%;
    padding-bottom: 160px;
}

.historiesPage .swiper-slide {
    display: flex;
    justify-content: space-between;
}

.historiesPage__all {
    text-align: center;
}

.historiesPage__all-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.historiesPage__all-more {
    border: none;
    padding: 20px 50px;
    margin: 0 auto;
    background-color: #52575D;
    cursor: pointer;
}

.historiesPage__all-more:disabled {
    background-color: #b6b6b6;
    cursor: default;
}

.historiesPage__new-swiper .swiper-slide {
    justify-content: space-around;
}

@media (max-width: 1700px) {
    .historiesPage__new-swiper .historiesCard {
        max-width: 355px;
        height: auto;
    }

    .historiesCard__info {
        padding: 10px;
    }
}

@media (max-width: 1400px) {
    .historiesCard {
        max-width: 300px;
    }


    .historiesPage__all-container .historiesCard {
        margin-right: 20px;
    }
}

@media (max-width: 1000px) {
    .historiesPage__new-swiper .historiesCard {
        max-width: 250px;
    }

    .historiesPage h2 {
        font-size: 60px;
    }

    .historiesPage__new-title {
        gap: 20px;
        margin-bottom: 20px;
    }

    .historiesPage__new-title span {
        font-size: 35px;
    }

    .historiesPage__new-count span {
        font-size: 24px;
    }

    .historiesPage__new-count:after {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 850px) {
    .historiesPage__new-swiper .historiesCard {
        max-width: 250px;
    }

    .historiesPage__new-swiper {
        padding: 0 0 50px;
    }

    .historiesPage__new-swiper .gallary__pagination {
        display: none;
    }

    .historiesCard__info-more {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


}

@media (max-width: 600px) {
    .historiesPage__all-container .historiesCard {
        margin-right: 0;
    }

}