.select__placeholder {
    display: flex;
    gap: 30px;
    align-items: center;
}

.formMedals__gallary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.formMedals__gallary-item {
    display: flex;
    flex-basis: 21%;
    text-align: center;
    align-items: center;
    position: relative;
    gap: 10px;
    margin-bottom: 40px;
    justify-content: space-between;
    flex-direction: column;
}

.formMedals__gallary-item button {
    top: 0;
    right: 0;
    border: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    padding: 0;
    position: absolute;
    cursor: pointer;
}

.formMedals__gallary-item svg {
    width: 100%;
    height: 100%;
}

.formMedals__gallary-item img {
    width: 50%;
}

.formMedals {
    margin-top: 170px;
}

.formMedals__select {
    margin-bottom: 85px;
}

.formMedals__input {
    width: calc(100% - 46px);
}

.formMedals__label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formMedals__label textarea {
    resize: none;
    background-color: transparent;
    font-size: 24px;
    margin-bottom: 25px;
    padding: 20px;
    height: 200px;
}

.formMainInfo__cancel {
    padding: 24px 72px;
    border: none;
    background-color: #D9D9D9;
}

.formMedals__buttons {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 100px;
}

.formMedals__option {
    display: flex;

    gap: 30px;
    align-items: center;
}

@media (max-width: 1700px) {

    .select__placeholder {
        gap: 15px;
    }

    .select__placeholder svg {
        width: 60px;
    }

    .select__placeholder span {
        font-size: 24px;
    }

    .formMedals__select>div {
        padding: 10px;
    }

    .formMedals__gallary-item {
        flex-basis: 26%;
    }

    .formMedals__gallary-item img {
        width: 30%;
    }

}


@media (max-width: 1400px) {}


@media (max-width: 1000px) {
    .formMedals__gallary-item {
        flex-basis: 45%;
    }

    .formMedals__gallary-item img {
        width: 30%;
    }

    .formMedals__gallary-item span {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .formMedals__gallary-item span {
        font-size: 12px;
    }

    .formMedals__gallary-item button {
        width: 25px;
        height: 25px;
    }
}