.steps {
  background-color: #efeade;
  padding: 120px 0;
}

.steps__list {
  list-style: none;
  position: relative;
  padding: 0;
}

.steps__line {
  width: 3px;
  background-color: #b3b3b3;
  left: 51%;
  height: 100%;
  bottom: 0;
  position: absolute;
}

.steps__line-active {
  height: 0px;
  display: block;
  width: 100%;
  background-color: #343434;
  animation: colorLine 12s infinite linear;
}

@media (max-width: 1700px) {
  .steps .steps__item-text {
    font-size: 19px;
  }

  .steps__item-icon svg {
    width: 120px;
  }

  .steps .steps__item-num {
    font-size: 24px;
    line-height: 30px;
    padding: 4px 12px;
  }
}

@media (max-width: 1200px) {
  .steps__line {
    display: none !important;
  }

  .steps__item {
    gap: 40px !important;
  }

  .steps__item-icon {
    width: auto !important;
    display: inline-flex !important;
  }
}

@media (max-width: 1000px) {
  .steps .steps__item-text {
    font-size: 16px;
  }

  .steps__item-icon svg {
    width: 80px;
  }

  .steps .steps__item-num {
    font-size: 28px;
    line-height: 50px;
    padding: 0 20px;
  }
}

@keyframes colorLine {
  0% {
    height: 0;
    opacity: 1;
  }

  95% {
    height: 100%;
    opacity: 1;
  }

  100% {
    height: 100%;
    opacity: 0;
  }
}

.steps__item {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 40px 0;

  opacity: 0.65;
}

.steps__item:nth-child(2) {
  animation: opacity5 12s linear infinite;
}

.steps__item:nth-child(3) {
  animation: opacity25 12s linear infinite;
}

.steps__item:nth-child(4) {
  animation: opacity50 12s linear infinite;
}

.steps__item:nth-child(5) {
  animation: opacity75 12s linear infinite;
}

@keyframes opacity5 {
  3% {
    opacity: 0.65;
  }

  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0.65;
  }
}

@keyframes opacity25 {
  23% {
    opacity: 0.65;
  }

  25% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0.65;
  }
}

@keyframes opacity50 {
  48% {
    opacity: 0.65;
  }

  50% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0.65;
  }
}

@keyframes opacity75 {
  73% {
    opacity: 0.65;
  }

  75% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0.65;
  }
}

.steps__item:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.steps__item:nth-child(2n + 1) .steps__item-icon {
  justify-content: start;
}

.steps__item:nth-child(2n + 1) .steps__item-info {
  align-items: end;
  text-align: end;
}

.steps__title {
  margin: 0;
  margin-bottom: 60px;
}

.steps__item-icon {
  max-width: 41.4%;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.steps__item-info {
  display: flex;
  align-items: start;
  gap: 30px;
  flex-direction: column;
}

.steps__item-num {
  background-color: #52575d;
  margin: 0;
  line-height: 65px;
  padding: 0 23px;
}

.steps__item-text {
  max-width: 550px;
}


@media (max-width: 700px) {
  .steps__title {
    font-size: 40px;
    text-align: center;
  }

  .steps__item {
    padding: 20px 0;
    gap: 15px;
    position: relative;
  }

  .steps .steps__item-text {
    font-size: 13px;
  }

  .steps .steps__item-num {
      position: absolute;
      top: 5px;
      left: 0;
      font-size: 15px;
      line-height: 9px;
      padding: 10px;
  }

  .steps__item:nth-child(2n+1) .steps__item-num {
    right: 0;
    left: unset;
  }

  .steps__item-icon svg {
    margin-top: 15px;
     height: auto;
  }
}