.header {
    background-color: #52575D;
    margin: 0;
    padding: 17px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .container {
    align-items: center;
    justify-content: space-between;
}

.header__list {
    list-style: none;
    display: flex;
    margin: 0;
    position: absolute;
    left: 50%;
    top: -18px;
    transform: translateX(-50%);
}

pre {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    /* Opera 4 - 6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    white-space: pre-wrap;
    /* CSS3 - Text module (Candidate Recommendation) [url]http://www.w3.org/TR/css3-text/#white-space[/url] */
    word-wrap: break-word;
    /* IE 5.5+ */

}

.header__item {
    padding: 35px 38px;
    position: relative;
    transition: .3s ease-in-out;
}

.header__item span {
    outline-offset: 5px;
    outline: 2px solid transparent;
    transition: .3s ease-in-out;
}

.header__item:hover span {
    color: #989898 !important;
}

.header__item:focus {
    outline: none;
}

.header__item:focus:not(.header__item-active):not(:active) span {
    outline-color: #fff;
}

.header__item-active:focus span {
    outline-color: #fff;
    outline-offset: 10px;
}

.header__item-active,
.header__item:active {
    background-color: #494E53;
}

.header__item a::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header__item-reg {
    position: absolute;
    right: 0;
    background-color: #343434;
    padding: 36px 65px;
    top: -19px;
    outline-offset: -3px;
    transition: .3s ease-in-out;
    outline: 2px solid transparent;
}

.header__item-reg:hover span {
    color: #989898 !important;
}

.header__item-reg:focus {
    outline-color: #fff;
}

.header__burger {
    display: none;
}

@media (max-width: 1700px) {
    .header__item span {
        font-size: 17px;
    }

    .header svg {
        height: 31px;
    }

    .header__item {
        padding: 25px 28px;
    }

    .header__item-reg {
        padding: 23px 35px;
    }

    .header__item-reg span {
        font-size: 21px;
    }
}

@media (max-width: 1400px) {
    .header__burger {
        display: flex;
        flex-direction: column;
        width: 50px;
        height: 35px;
        justify-content: space-between;
    }

    .header__nav {
        position: fixed;
        z-index: 999999999999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #52575D;
        transform: translateY(-250%);
        display: flex;
        padding: 70px 30px 50px;
        flex-direction: column;
        gap: 20px;
        align-items: baseline;
        transition: transform .5s ease-in-out;
        overflow: scroll;
    }

    .header__nav svg {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .header__burger {
        border: 0;

        position: relative;
        background-color: transparent;
        padding: 0;
    }

    .headerMenu__close {
        z-index: 999999;
    }

    .header__nav-active {
        transform: none;
    }

    .headerMenu__close span:first-child {
        rotate: 45deg;
        position: absolute;
        left: 0;
        top: 57%;
    }

    .header__nav {
        align-items: center;
    }

    .header__nav .header__item-reg {
        border: 2px solid #fff;
        background-color: transparent;
        padding: 20px 40px;
    }


    .headerMenu__close span:last-child {
        rotate: -45deg;
        position: absolute;
        right: 0;
        top: 57%;
    }


    .headerMenu__close {
        border: 0;

        position: absolute;
        background-color: transparent;
        padding: 0;
        top: 10px;
        width: 50px;
        height: 50px;
        right: 10px;
    }

    .headerMenu__close span {
        width: 100%;
        height: 6px;
        background-color: #fff;
    }

    .header__item {
        padding: 20px 30px;
    }

    .header__item-reg {
        position: relative;
    }

    .header__burger span {
        width: 100%;
        height: 6px;
        background-color: #fff;
    }

    .header svg {
        height: 40px;
    }

    .header__item span {
        font-size: 20px;
    }
}