/* .modal {
z-index: 10000000000000;   
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    opacity: 0;
    z-index: 999999;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.modalOpen {
    opacity: 1;
    visibility: visible;
}



.modal__cancel {
    padding: 0px;
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
}

.modal__content {
    max-width: 800px;
    background-color: #696D72;
    margin: 50px auto;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    flex-direction: column;
    gap: 30px;
}

.modal__content span {
    text-align: center;
}

.modal__content img {
    height: 450px;
}

@media (max-width: 600px) {
    .modal__cancel svg {
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
    }
}